.container {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #CCCCCC;
  padding: 10px;
}

.container h1 {
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 10px;
}

.container .file {
  margin-bottom: 30px;
}